<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lighting0001.png0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{760,63}}</string>
        <key>offset</key>
        <string>{-8,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,9},{760,63}}</string>
        <key>sourceSize</key>
        <string>{780,80}</string>
      </dict>
      <key>lighting0001.png0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{759,72}}</string>
        <key>offset</key>
        <string>{4.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,3},{759,72}}</string>
        <key>sourceSize</key>
        <string>{780,80}</string>
      </dict>
      <key>lighting0001.png0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{759,70}}</string>
        <key>offset</key>
        <string>{4.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,2},{759,70}}</string>
        <key>sourceSize</key>
        <string>{780,80}</string>
      </dict>
      <key>lighting0001.png0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{759,63}}</string>
        <key>offset</key>
        <string>{-4.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,8},{759,63}}</string>
        <key>sourceSize</key>
        <string>{780,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>lighting.png</string>
      <key>size</key>
      <string>{760,268}</string>
      <key>textureFileName</key>
      <string>lighting</string>
    </dict>
  </dict>
</plist>
